h1{
    font-size: xxx-large;
    font-style:var(20px);
    text-shadow: 20px;
    text-decoration-color: rgb(9, 7, 11);
    font-style: bold;
    font-family:cursive;
    font-variant: small-caps;
    text-shadow: 2px 2px #ffffff;
   
    text-underline-offset:inherit;
}

body{
    background-position: center;
    background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100%;
}

h3{
    word-spacing:  40px;
  width: 400px;
  text-align: left;
  font-family:cursive;
  text-shadow: 2px 2px #ffffff;
  font-size:larger;


}

h2{
    font-family:cursive;
  text-shadow: 2px 2px #ffffff;
}

h4{
    text-align: center;
    font-size: x-large;
    font-stretch: extra-expanded;
    font-family:fantasy;
    font-style: italic;
    font-variant: small-caps;
    font-synthesis: style;
    
}

button{
    font-size: xxx-large;
    background-color: coral;
    font-family:fantasy;
}